<div>
  <app-storage-edit
    [storageId]="storageEditId"
    [visible]="editVisible"
    (onClose)="editClosed()"
  ></app-storage-edit>
  <p-table
    [value]="storages"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '20rem' }"
  >
    <ng-template pTemplate="caption">
      <h3 style="text-align: center">Storages</h3>
      <div>
        <p-button
          icon="pi pi-plus"
          (onClick)="showEditDialog()"
          styleClass="p-button-success p-2 col-12 m-0"
          label="Add"
        ></p-button></div>
    </ng-template>
    <ng-template pTemplate="header" let-storages>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Area</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-storage let-storages="columns">
      <tr>
        <td><span class="p-column-title">Name</span>{{ storage.name }}</td>
        <td>
          <span class="p-column-title">Address</span>{{ storage.address }}
        </td>
        <td><span class="p-column-title">Area</span>{{ storage.area }}</td>
        <td>
          <p-button
            icon="pi pi-eye"
            styleClass="mr-1 p-2 mb-2"
            label="Storage racks"
            (onClick)="viewStorage(storage.id)"
          ></p-button>
          <p-button
            icon="pi pi-pencil"
            (onClick)="showEditDialog(storage.id)"
            styleClass="mr-1 p-2 mb-2"
            label="Edit"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            styleClass="p-button-danger mr-1 p-2 mb-2"
            (onClick)="confirmDelete(storage.id, storage.name)"
            label="Delete"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
