<div>
  <p-table
    [value]="products"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '20rem' }"
  >
    <ng-template pTemplate="caption">
      <h3 style="text-align: center">Search Product</h3>
      <div>
        <input class="col-12" pInputText placeholder="Search..." [(ngModel)]="searchString" (ngModelChange)="searchProduct(searchString)" />
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-products>
      <tr>
        <th>Name</th>
        <th>Width</th>
        <th>Length</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-products="columns">
      <tr>
        <td>
          <span class="p-column-title">Name</span>{{ product.name }}
        </td>
        <td>
          <span class="p-column-title">Width</span>{{ product.width }}
        </td>
        <td>
          <span class="p-column-title">Length</span>{{ product.length }}
        </td>
        <td>
          <span class="p-column-title">Height</span>{{ product.height }}
        </td>
        <td>
          <span class="p-column-title">Weight</span>{{ product.weight }}
        </td>
        <td>
          <span class="p-column-title">Description</span>{{ product.description }}</td>
        <td>
          <p-button
            icon="pi pi-eye"
            (onClick)="viewProductAvailability(product.id)"
            styleClass="mr-1 p-2 mb-2"
            label="View product availability"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
