<div>
  <p-toolbar>
    <span class="font-bold">Santa's Storage</span>
    <span></span>
    <div *ngIf="userAuthenticated">
      <span class="mr-2"
      >Logged in as: <span class="font-bold">{{ getUserName() }}</span>
      </span>
      <span>
        <p-button
          class=""
          label="Logout"
          (click)="logout()"
          styleClass="p-button-sm"
        ></p-button>
      </span>
    </div>
  </p-toolbar>
  <div style="display: flex">
    <div class="col-2 inline-block bg-white" style="height: 95vh">
      <p-button
        *ngIf="screenWidth > 800"
        class="button-label"
        label="Storages"
        icon="pi pi-home"
        (click)="storages()"
        styleClass="col-12 mb-1"
      ></p-button>
      <p-button
        *ngIf="screenWidth <= 800"
        class="button-label"
        label=""
        icon="pi pi-home"
        (click)="storages()"
        styleClass="col-12 mb-1 w-full"
      ></p-button>
      <p-button
        *ngIf="screenWidth > 800"
        class="button-label"
        label="Products"
        icon="pi pi-box"
        (click)="products()"
        styleClass="col-12 mb-1"
      ></p-button>
      <p-button
        *ngIf="screenWidth <= 800"
        class="button-label"
        label=""
        icon="pi pi-box"
        (click)="products()"
        styleClass="col-12 mb-1 w-full"
      ></p-button>
      <p-button
        *ngIf="screenWidth > 800"
        class="button-label"
        label="Search product"
        icon="pi pi-search"
        (click)="searchProduct()"
        styleClass="col-12 mb-1"
      ></p-button>
      <p-button
        *ngIf="screenWidth <= 800"
        class="button-label"
        label=""
        icon="pi pi-search"
        (click)="searchProduct()"
        styleClass="col-12 mb-1 w-full"
      ></p-button>
    </div>
    <div class="col-10 inline-block">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
