<div>
  <p-table
    [value]="productAvailabilities"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '20rem' }"
  >
    <ng-template pTemplate="caption">
      <h3 style="text-align: center">{{product.Name}}</h3>
    </ng-template>
    <ng-template pTemplate="header" let-shelfProducts>
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>Quantity</th>
        <th>Storage</th>
        <th>Row</th>
        <th>Row position</th>
        <th>Shelf level</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-productAvailability let-productAvailabilities="columns">
      <tr>
        <td><span class="p-column-title">Name</span>{{ productAvailability.ProductName }}</td>
        <td>
          <span class="p-column-title">Weight</span>{{ productAvailability.ProductWeight }}
        </td>
        <td>
          <span class="p-column-title">Quantity</span
          >{{ productAvailability.ShelfProductQuantity }}
        </td>
        <td>
          <span class="p-column-title">Storage</span
          >{{ productAvailability.StorageName }}
        </td>
        <td>
          <span class="p-column-title">Row</span>{{ productAvailability.StorageRackRow }}
        </td>
        <td>
          <span class="p-column-title">Row position</span>{{ productAvailability.StorageRackRowPosition }}
        </td>
        <td>
          <span class="p-column-title">Shelf level</span>{{ productAvailability.ShelfLevel }}
        </td>
        <td>
          <span class="p-column-title">Actions</span>
          <p-button
            icon="pi pi-eye"
            styleClass="mr-1 p-2"
            (onClick)="viewShelf(productAvailability.ShelfId)"
            label="View shelf"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
