<div>
  <app-shelf-edit
    [shelfId]="shelfEditId"
    [storageRackId]="storageRackId"
    [storageId]="storage.id"
    [visible]="editVisible"
    (onClose)="editClosed()"
  ></app-shelf-edit>
  <p-card>
    <div
      class="inline-block col-4 card-top storage-card"
      (click)="viewStorage()"
    >
      <h3 class="mt-0" style="text-align: center">{{ storage.name }}</h3>
      <div *ngIf="screenWidth > 800" class="col-12">
        <div>
          <div class="inline-block col-6 pb-0 pt-0 font-bold">Address:</div>
          <div class="inline-block col-6 pb-0 pt-0">{{ storage.address }}</div>
        </div>
        <div>
          <div class="inline-block col-6 pb-0 pt-0 font-bold">Area:</div>
          <div class="inline-block col-6 pb-0 pt-0">{{ storage.area }}</div>
        </div>
      </div>
      <div *ngIf="screenWidth <= 800" class="col-12">
        <div>
          <div class="col-12 pb-0 pt-0 font-bold">Address:</div>
          <div class="col-12 pb-0 pt-0">{{ storage.address }}</div>
          <div class="col-12 pb-0 pt-0 font-bold">Area:</div>
          <div class="col-12 pb-0 pt-0">{{ storage.area }}</div>
        </div>
      </div>
    </div>
    <div class="inline-block col-4 card-top" style="vertical-align: top">
      <h3 class="mt-0" style="text-align: center">Storage Rack</h3>
      <div *ngIf="screenWidth > 800">
        <div class="inline-block col-6 pb-0 pt-0 font-bold">Row:</div>
        <div class="inline-block col-6 pb-0 pt-0">{{ storageRack.row }}</div>
        <div class="inline-block col-6 pb-0 pt-0 font-bold">Row position:</div>
        <div class="inline-block col-6 pb-0 pt-0">
          {{ storageRack.rowPosition }}
        </div>
        <div class="inline-block col-6 pb-0 pt-0 font-bold">Weight limit:</div>
        <div class="inline-block col-6 pb-0 pt-0">
          {{ storageRack.weightLimit }}
        </div>
      </div>
      <div *ngIf="screenWidth <= 800">
        <div class="col-12 pb-0 pt-0 font-bold">Row:</div>
        <div class="col-12 pb-0 pt-0">{{ storageRack.row }}</div>
        <div class="col-12 pb-0 pt-0 font-bold">Row position:</div>
        <div class="col-12 pb-0 pt-0">
          {{ storageRack.rowPosition }}
        </div>
        <div class="col-12 pb-0 pt-0 font-bold">Weight limit:</div>
        <div class="col-12 pb-0 pt-0">
          {{ storageRack.weightLimit }}
        </div>
      </div>
    </div>
  </p-card>
  <p-table
    [value]="storageRackShelves"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '20rem' }"
  >
    <ng-template pTemplate="caption">
      <h3 style="text-align: center">Shelves</h3>
      <div>
        <p-button
          icon="pi pi-plus"
          (onClick)="showEditDialog()"
          styleClass="p-button-success p-2 col-12 m-0"
          label="Add"
        ></p-button></div>
    </ng-template>
    <ng-template pTemplate="header" let-storageRackShelves>
      <tr>
        <th>Level</th>
        <th>Width</th>
        <th>Length</th>
        <th>Height</th>
        <th>Weight limit</th>
        <th>Products</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-storageRackShelf
      let-storageRackShelves="columns"
    >
      <tr>
        <td>
          <span class="p-column-title">Level</span>{{ storageRackShelf.level }}
        </td>
        <td>
          <span class="p-column-title">Width</span>{{ storageRackShelf.width }}
        </td>
        <td>
          <span class="p-column-title">Length</span
          >{{ storageRackShelf.length }}
        </td>
        <td>
          <span class="p-column-title">Height</span
          >{{ storageRackShelf.height }}
        </td>
        <td>
          <span class="p-column-title">Weight limit</span
          >{{ storageRackShelf.weightLimit }}
        </td>
        <td>
          <span class="p-column-title">Products</span
          >{{ storageRackShelf.totalProducts }}
        </td>
        <td>
          <p-button
            icon="pi pi-eye"
            styleClass="mr-1 p-2"
            (onClick)="viewProducts(storageRackShelf.id)"
            label="Products"
          ></p-button>
          <p-button
            icon="pi pi-pencil"
            styleClass="mr-1 p-2"
            (onClick)="showEditDialog(storageRackShelf.id)"
            label="Edit"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            styleClass="p-button-danger mr-1 p-2"
            (onClick)="confirmDelete(storageRackShelf.id)"
            label="Delete"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
