<p-dialog
  [header]="product.name"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onHide()"
  (onShow)="onShow()"
>
  <div>
    <div>
      <div class="col-12 md:col-6 inline-block">Name</div>
      <div class="col-12 md:col-6 inline-block"><input class="col-12" pInputText placeholder="Name" [(ngModel)]="product.name" /></div>
    </div>
    <div>
      <div class="col-12 md:col-6 inline-block">Width</div>
      <div class="col-12 md:col-6 inline-block"><input class="col-12" pInputText pKeyFilter="num" placeholder="Width" [(ngModel)]="product.width" /></div>
    </div>
    <div>
      <div class="col-12 md:col-6 inline-block">Length</div>
      <div class="col-12 md:col-6 inline-block"><input class="col-12" pInputText pKeyFilter="num" placeholder="Length" [(ngModel)]="product.length" /></div>
    </div>
    <div>
      <div class="col-12 md:col-6 inline-block">Height</div>
      <div class="col-12 md:col-6 inline-block"><input class="col-12" pInputText pKeyFilter="num" placeholder="Height" [(ngModel)]="product.height" /></div>
    </div>
    <div>
      <div class="col-12 md:col-6 inline-block">Weight</div>
      <div class="col-12 md:col-6 inline-block"><input class="col-12" pInputText pKeyFilter="num" placeholder="Weight" [(ngModel)]="product.weight" /></div>
    </div>
    <div>
      <div class="col-12 md:col-6 inline-block">Description</div>
      <div class="col-12 md:col-6 inline-block"><input class="col-12" pInputText placeholder="Description" [(ngModel)]="product.description" /></div>
    </div>
  </div>
  <div class="text-right">
    <p-button
      icon="pi pi-save"
      styleClass="mr-2 mt-1 p-2"
      (onClick)="saveProduct()"
      label="Save"
    ></p-button></div>
</p-dialog>
