<div>
  <app-product-edit
    [productId]="productEditId"
    [visible]="editVisible"
    (onClose)="editClosed()"
  ></app-product-edit>
  <p-table
    [value]="products"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '20rem' }"
  >
    <ng-template pTemplate="caption">
      <h3 style="text-align: center">Products</h3>
      <div>
        <p-button
          icon="pi pi-plus"
          (onClick)="showEditDialog()"
          styleClass="p-button-success p-2 col-12 m-0"
          label="Add"
        ></p-button></div>
    </ng-template>
    <ng-template pTemplate="header" let-products>
      <tr>
        <th>Name</th>
        <th>Width</th>
        <th>Length</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-products="columns">
      <tr>
        <td>
          <span class="p-column-title">Name</span>{{ product.name }}
        </td>
        <td>
          <span class="p-column-title">Width</span>{{ product.width }}
        </td>
        <td>
          <span class="p-column-title">Length</span>{{ product.length }}
        </td>
        <td>
          <span class="p-column-title">Height</span>{{ product.height }}
        </td>
        <td>
          <span class="p-column-title">Weight</span>{{ product.weight }}
        </td>
        <td>
          <span class="p-column-title">Description</span>{{ product.description }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            (onClick)="showEditDialog(product.id)"
            styleClass="mr-1 p-2 mb-2"
            label="Edit"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            styleClass="p-button-danger mr-1 p-2 mb-2"
            (onClick)="confirmDelete(product.id, product.name)"
            label="Delete"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
