<div>
  <app-storage-rack-edit
    [storageRackId]="storageRackEditId"
    [storageId]="storage.id"
    [visible]="editVisible"
    (onClose)="editClosed()"
  ></app-storage-rack-edit>
  <p-card>
    <div class="inline-block col-4 card-top">
      <h3 class="mt-0" style="text-align: center">{{ storage.name }}</h3>
      <div *ngIf="screenWidth > 800" class="col-12">
        <div>
          <div class="inline-block col-6 pb-0 pt-0 font-bold">Address:</div>
          <div class="inline-block col-6 pb-0 pt-0">{{ storage.address }}</div>
        </div>
        <div>
          <div class="inline-block col-6 pb-0 pt-0 font-bold">Area:</div>
          <div class="inline-block col-6 pb-0 pt-0">{{ storage.area }}</div>
        </div>
      </div>
      <div *ngIf="screenWidth <= 800" class="col-12">
        <div>
          <div class="col-12 pb-0 pt-0 font-bold">Address:</div>
          <div class="col-12 pb-0 pt-0">{{ storage.address }}</div>
          <div class="col-12 pb-0 pt-0 font-bold">Area:</div>
          <div class="col-12 pb-0 pt-0">{{ storage.area }}</div>
        </div>
      </div>
    </div>
  </p-card>
  <p-table
    [value]="storageRacks"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '20rem' }"
  >
    <ng-template pTemplate="caption">
      <div>
        <h3 style="text-align: center">Storage racks</h3>
        <p-button
          icon="pi pi-plus"
          (onClick)="showEditDialog()"
          styleClass="p-button-success p-2 col-12 m-0"
          label="Add"
        ></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-storageRacks>
      <tr>
        <th>Row</th>
        <th>Row position</th>
        <th>Weight limit</th>
        <th>Shelves</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-storageRack let-storageRacks="columns">
      <tr>
        <td><span class="p-column-title">Row</span>{{ storageRack.row }}</td>
        <td>
          <span class="p-column-title">Row position</span
          >{{ storageRack.rowPosition }}
        </td>
        <td>
          <span class="p-column-title">Weight limit</span
          >{{ storageRack.weightLimit }}
        </td>
        <td>
          <span class="p-column-title">Shelves</span
          >{{ storageRack.shelves }}
        </td>
        <td>
          <p-button
            icon="pi pi-eye"
            styleClass="mr-1 p-2"
            (onClick)="viewStorageRack(storageRack.id)"
            label="Shelves"
          ></p-button>
          <p-button
            icon="pi pi-pencil"
            styleClass="mr-1 p-2"
            (onClick)="showEditDialog(storageRack.id)"
            label="Edit"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            styleClass="p-button-danger mr-1 p-2"
            (onClick)="confirmDelete(storageRack.id)"
            label="Delete"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
