<p-dialog
  header="Product storage details"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onHide()"
  (onShow)="onShow()"
>
  <div>
    <div *ngIf="shelfProductId == null">
      <div class="col-12 md:col-6 inline-block">Product</div>
      <div class="col-12 md:col-6 inline-block">
        <p-dropdown 
        styleClass="w-full p-1"
        [options]="products" 
        [(ngModel)]="shelfProduct"
        (onChange)="productSelected($event)"
        optionLabel="Name"
        placeholder="Select a Product">
        </p-dropdown>
      </div>
    </div>
    <div>
      <div class="col-12 md:col-6 inline-block">Name</div>
      <div class="col-12 md:col-6 inline-block"><input class="col-12" pInputText disabled placeholder="Name" [(ngModel)]="shelfProduct.ProductName" /></div>
    </div>
    <div>
      <div class="col-12 md:col-6 inline-block">Product weight</div>
      <div class="col-12 md:col-6 inline-block"><input class="col-12" pInputText disabled pKeyFilter="num" placeholder="Product weight" [(ngModel)]="shelfProduct.ProductWeight" /></div>
    </div>
    <div>
      <div class="col-12 md:col-6 inline-block">Quantity</div>
      <div class="col-12 md:col-6 inline-block"><input class="col-12" pInputText pKeyFilter="num" placeholder="Quantity" [(ngModel)]="shelfProduct.ShelfProductQuantity" (ngModelChange)="updateTotalWeight()" /></div>
    </div>
    <div>
      <div class="col-12 md:col-6 inline-block">Total weight</div>
      <div class="col-12 md:col-6 inline-block"><input class="col-12" pInputText disabled pKeyFilter="num" placeholder="Total weight" [(ngModel)]="shelfProduct.TotalWeight" /></div>
    </div>
    <div>
      <div class="col-12 md:col-6 inline-block">Width</div>
      <div class="col-12 md:col-6 inline-block"><input class="col-12" pInputText pKeyFilter="num" placeholder="Width" [(ngModel)]="shelfProduct.ShelfProductWidth" /></div>
    </div>
    <div>
      <div class="col-12 md:col-6 inline-block">Length</div>
      <div class="col-12 md:col-6 inline-block"><input class="col-12" pInputText pKeyFilter="num" placeholder="Length" [(ngModel)]="shelfProduct.ShelfProductLength" /></div>
    </div>
    <div>
      <div class="col-12 md:col-6 inline-block">Height</div>
      <div class="col-12 md:col-6 inline-block"><input class="col-12" pInputText pKeyFilter="num" placeholder="Height" [(ngModel)]="shelfProduct.ShelfProductHeight" /></div>
    </div>
  </div>
  <div class="text-right">
    <p-button
      icon="pi pi-save"
      styleClass="mr-2 mt-1 p-2"
      (onClick)="saveShelfProduct()"
      label="Save"
    ></p-button></div>
</p-dialog>
